.welcome-logo {
  flex-basis: 33%;
}

.welcome-title {
  flex-basis: 33%;
  margin: auto;
  text-align: center;
}

.welcome-nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  /* flex-direction: row;
  justify-content: space-between; */
  background-color: white;
}

.welcome-ul {
  display: flex;
  flex-basis: 33%;
  margin-right: 20px;
  flex-direction: row-reverse;
  list-style-type: none;
}

.welcome-li {
  margin: 20px 10px;
}