.hero-banner {
  background-image: url("../../assests/images/butterfly_background.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}


